@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Courier New';
    src: url(assets/Fonts/cour.ttf);
}

html {
    background-color: #201533;
    color: #ffffff
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #201533;
    color:#ffffff
}

#banner {
    background-image: url("./assets/programming-banner.png");
    margin: 0;
    padding-top: 17%;
    /* padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    width:100%;*/
    position: relative;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:block;

}

.nav-bar {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    min-height: 0;
    height: 41px;
    background-color: #0d001a; 
    color: aliceblue;
    top:54%;
    position: relative;
    margin-bottom: 0px;
    position: relative;
    display: block;
    box-sizing: border-box;
    }
